.table > tbody > tr > td.nopadding{
    padding: 0px;
}

.table > tbody > tr > td.nopadding > table {
    margin: 0px;
    border: none;
}

.table > tbody > tr > td > h4 {
    display: inline-block;
}

.table > tbody > tr > td > a.btn-remove {
    color: #e03333;
    margin-left: 2px;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
    //border-bottom: 1px #2d2d2d solid;
}

.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
    background-color: #4e9953;
    border: none;
    border-left: 1px #474747 solid;
    text-align: center;
}

.table-hover>tbody>tr.success:hover>td, .table-hover>tbody>tr.success:hover>th, .table-hover>tbody>tr:hover>.success, .table-hover>tbody>tr>td.success:hover, .table-hover>tbody>tr>th.success:hover {
    background-color: #009637;
}

.table>tbody>tr.danger>td, .table>tbody>tr.danger>th, .table>tbody>tr>td.danger, .table>tbody>tr>th.danger, .table>tfoot>tr.danger>td, .table>tfoot>tr.danger>th, .table>tfoot>tr>td.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>thead>tr.danger>th, .table>thead>tr>td.danger, .table>thead>tr>th.danger {
    background-color: transparent;
    border: none;
}

input.form-control {
    background-color: transparent;
    color: #f4f4f4;
    border: none;
    border-radius: 0px;
    border-bottom: 2px rgba(61, 61, 61, 0.65) solid;
    transition: 0.35s all ease-out;
    outline: none;
    font-size: 18px;
    box-shadow: 0 3px 4px -4px rgba(0,0,0,0.65);
}

input.form-control:focus {
    color: #f4f4f4;
    border-bottom: 2px rgba(102, 175, 233,0.65) solid;
    box-shadow: 0 3px 4px -4px rgba(102, 175, 233, 0.45);
}

        
input.form-control.error-outline {
    border-bottom: 2px rgba(216, 15, 15, 0.55) solid;
}

@keyframes expand {
  0%   { width: 0%; }
  100% { width: 50%; }
}

table#gantt-chart>tbody>tr>td {
    animation: expand 1s;
}

.controls button.btn {
    background: none;
    transition: all 0.45s ease;
    outline: 0 none;
}

.controls button.btn-success {
    border: 1px #4cae4c solid;
    border-radius: 5px;
    box-shadow: none;
    background-color: rgba(255,255,255, 0);
}

.controls button.btn-success:focus,
.controls button.btn-success:active:focus,
.controls button.btn-success.active:focus,{
    outline: 0 none;
    box-shadow: none;
}

.controls .btn-success:hover {
    border: 1px rgb(36, 134, 36) solid;
    box-shadow: 1px 1px 4px rgba(0,0,0, 0.55);
    background-color: rgba(255,255,255, 0.15);
}

.controls .btn-success:active,.controls .btn-success.active
{
    border: 1px rgb(26, 124, 26) solid;
    background: none;
    outline: 0 none;
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.55);
}